@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255);
}


html {
  scroll-behavior: smooth;

}

.header {
  height: var(--tamanho-header);
  background-color: #ffffff00;
  border-bottom: 1px solid #ffffff00;
  position: fixed;
  width: 100%;
  z-index: 1000;
  /* fica na frente de outros elementos */
  transition: 0.3s;
  /* efeito ao voltar para o topo */

}

/*animação do header para aparecer ao descer a página*/
.header.rolar {

  height: var(--tamanho-header);
  background-color: #ffffff;
  padding: 10px 0;
  transition: 0.3s;
  /* efeito ao sair do topo */
}

.header.rolar a {

  height: var(--tamanho-header);
  color: #000000;
  padding: 10px 0;
  transition: 0.3s;
  /* efeito ao sair do topo */
}

.header.rolar .navbar {

  height: var(--tamanho-header);
  color: #000000;
  padding: 10px 0;
  transition: 0.3s;
  /* efeito ao sair do topo */
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.container .logo {
  height: 190px;
  width: 360px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  margin-left: -170px;
  margin-top: 15px;
}



.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

.agora {
  font-weight: 700;
}

.navbar {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #ffffff;
}

.titulo {
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: 70vh;
  color: rgb(255, 255, 255);
  background-image: url('../imagens/sodomaegomorra.png');
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-attachment: fixed;
  /* efeito de deixar a imagem estática, mesmo com scroll */
  background-position: center;
}

/* CORPO */
.corpo {
  display: flex;
  width: auto;
  height: 100vh;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  background-size: cover;
  margin: auto;
  justify-content: center;

}

.corpo2 {
  display: flex;
  width: auto;
  height: 100vh;
  color: rgb(255, 255, 255);
  background-color: rgb(245, 245, 245);
  background-size: cover;
  margin: auto;
  justify-content: center;

}

.corpo3 {
  display: flex;
  width: 100%;
  height: 100vh;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);

}

.corpo4 {
  display: flex;
  width: auto;
  height: 100vh;
  color: rgb(255, 255, 255);
  background-color: rgb(245, 245, 245);
  background-size: cover;
  margin: auto;
  justify-content: center;

}

.corpo .imagemCorpo {
  display: flex;
  flex-direction: column;
  margin-left: -40vw;
  margin-top: 32vh;
  width: 28vw;
  background-size: cover;

}

.textoSobreh1 h1 {

  color: #000000;
  justify-content: center;
  text-align: center;
  margin-left: 47vw;
  margin-top: -70vh;
  margin-bottom: 70vh;
  padding: 0%;
  font-size: 2vw;

}

.textoSobreSpan span {
  color: #000000;
  padding: 0%;
  width: 19vw;
  display: flex;
  margin-left: 66.2vw;
  margin-top: -68vh;
  margin-bottom: 40vh;
  padding-top: 3vh;
  font-size: 1vw;

}


/*CORPO 2*/
.linhaVida h1 {
  display: flex;
  color: rgb(104, 67, 0);
  margin-left: 35vw;
  margin-top: -100vh;
  margin-bottom: 85vh;
  padding-top: 3vh;
  font-size: 1.5vw;

}

.nasciementoJesus span {
  display: flex;
  padding: 0%;
  color: #000000;
  height: 2vh;
  width: 30.5vw;
  margin-top: -75vh;
  margin-bottom: 68vh;
  margin-left: 30vw;

}

.nasciementoJesus2 span {
  display: flex;
  padding: 0%;
  color: #000000;
  height: 2vh;
  width: 29vw;
  margin-top: -58vh;
  margin-bottom: 68vh;
  margin-left: 30vw;

}

.nasciementoJesus3 span {
  display: flex;
  padding: 0%;
  color: #000000;
  height: 2vh;
  width: 27vw;
  margin-top: -58vh;
  margin-bottom: 68vh;
  margin-left: 30vw;

}

.nasciementoJesus4 span {
  display: flex;
  padding: 0%;
  color: #000000;
  height: 2vh;
  width: 28.5vw;
  margin-top: -58vh;
  margin-bottom: 68vh;
  margin-left: 30vw;

}

.nasciementoJesus5 span {
  display: flex;
  padding: 0%;
  color: #000000;
  height: 2vh;
  width: 37vw;
  margin-top: -58vh;
  margin-bottom: 22vh;
  margin-left: 30vw;

}


.asOpinioes h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #4d2e01;
  margin-left: 43vw;
  margin-top: 15vh;
  font-size: 3.5vw;
  font-weight: bolder;


}


.conjuntoOpinioes {
  background-color: #e2e2e2;
  width: 28vw;
  height: 25vh;
  margin-top: -65vh;
  margin-bottom: 9vh;
  margin-left: 2vw;
  box-shadow: 1vh 1vh 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;

}


.conjuntoOpinioes2 {
  background-color: #e2e2e2;
  width: 28vw;
  height: 25vh;
  margin-left: 36vw;
  margin-top: -34vh;
  margin-bottom: 10vh;
  box-shadow: 1vh 1vh 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;

}

.conjuntoOpinioes3 {
  background-color: #e2e2e2;
  width: 28vw;
  height: 25vh;
  margin-left: 69.3vw;
  margin-top: -35vh;
  margin-bottom: 10vh;
  box-shadow: 1vh 1vh 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;

}

.conjuntoOpinioes4 {
  background-color: #e2e2e2;
  width: 28vw;
  height: 25vh;
  margin-left: 2vw;
  box-shadow: 1vh 1vh 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;


}

.conjuntoOpinioes5 {
  background-color: #e2e2e2;
  width: 28vw;
  height: 25vh;
  margin-left: 36vw;
  margin-top: -26.3vh;
  box-shadow: 1vh 1vh 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;

}

.conjuntoOpinioes6 {
  background-color: #e2e2e2;
  width: 28vw;
  height: 25vh;
  margin-left: 69.3vw;
  margin-top: -26.4vh;
  margin-bottom: 40vh;
  box-shadow: 1vh 1vh 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;


}

.conjuntoOpinioes:hover {
  transform: scale(1.1);
  box-shadow: 2vh 2vh 10px rgba(0, 0, 0, 0.2);

}

.conjuntoOpinioes2:hover {
  transform: scale(1.1);
  box-shadow: 2vh 2vh 10px rgba(0, 0, 0, 0.2);

}

.conjuntoOpinioes3:hover {
  transform: scale(1.1);
  box-shadow: 2vh 2vh 10px rgba(0, 0, 0, 0.2);

}

.conjuntoOpinioes4:hover {
  transform: scale(1.1);
  box-shadow: 2vh 2vh 10px rgba(0, 0, 0, 0.2);

}

.conjuntoOpinioes5:hover {
  transform: scale(1.1);
  box-shadow: 2vh 2vh 10px rgba(0, 0, 0, 0.2);

}

.conjuntoOpinioes6:hover {
  transform: scale(1.1);
  box-shadow: 2vh 2vh 10px rgba(0, 0, 0, 0.2);

}


.conjuntoOpinioes .plinio h2 {
  padding-top: 2vh;
  padding-left: 1vw;
  font-weight: bold;
  color: #4d2e01;


}

.conjuntoOpinioes2 .tacito h2 {
  padding-top: 2vh;
  padding-left: 1vw;
  font-weight: bold;
  color: #4d2e01;

}

.conjuntoOpinioes3 .maraBar h2 {
  padding-top: 2vh;
  padding-left: 1vw;
  font-weight: bold;
  color: #4d2e01;

}

.conjuntoOpinioes4 .justino h2 {
  padding-top: 2vh;
  padding-left: 1vw;
  font-weight: bold;
  color: #4d2e01;

}

.conjuntoOpinioes5 .irineu h2 {
  padding-top: 2vh;
  padding-left: 1vw;
  font-weight: bold;
  color: #4d2e01;

}

.conjuntoOpinioes6 .tertuliano h2 {
  padding-top: 2vh;
  padding-left: 1vw;
  font-weight: bold;
  color: #4d2e01;

}


.textoContainer {
  width: 25vw;
  height: 3vh;
  padding-left: 1.5vw;
  padding-top: 0.5vh;

}


/* img:hover {
  transform: scale(1.2);} aumenta 20% ao passar o mouse */



.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 28px;
  color: #ffffff;
  font-weight: bolder;

}

.banner .container span {
  font-weight: 800;
  font-size: 77px;

}

.banner .container .saibaMais {
  flex-direction: row;
  margin: 15px;
  justify-content: space-between;
  border-radius: 25px;
  border: 0px;
  font-size: 16px;
  padding: 15px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: rgb(253, 165, 0);
  color: #ffffff;
  font-weight: bolder;
  transition: background-color 0.5s, color 0.5s;
  transition: 0.3s;
  cursor: pointer;

}

.banner .container .opinioes {
  flex-direction: row;
  margin: 15px;
  justify-content: space-between;
  border-radius: 25px;
  border: 0px;
  font-size: 16px;
  padding: 15px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: #ffffff;
  color: rgb(255, 166, 0);
  font-weight: bolder;
  transition: background-color 0.5s, color 0.5s;
  transition: 0.3s;
  cursor: pointer;
}

.banner .container .saibaMais:hover {
  background-color: #ffffff;
  color: rgb(255, 166, 0);
  transform: scale(1.1);

}

.banner .container .opinioes:hover {
  background-color: #ffae00;
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}


/* FOOTER */

.footer {

  background-color: rgb(87, 52, 0);
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

/* compartimento do rodapé */
.footer .container {

  justify-content: center;
  text-align: center;
}


/* itens inseridos no rodapé */
.rodape .conteudo {
  max-width: 800px;
  margin: 0 auto;
}


/* símbolo de marca registrada ® */
.marca-registrada {
  font-size: 1em;
  vertical-align: super;
  margin-left: 2px;
}


/* classe referente as redes sociais */
.redes-sociais {
  margin-top: 15px;
}


/* link das redes sociais */
.redes-sociais a {
  margin: 0 10px;
  display: inline-block;
  /* ou seja, oculta o link de direcionamento */
}


/* ícone (imagem) que representa a específica rede social*/
.redes-sociais img {
  width: 40px;
  height: auto;
  filter: brightness(0) invert(1);
  /* deixa branco se o ícone for escuro */
  transition: transform 0.3s ease;
}


/* define o tamanho em que a imagem crescerá quando o mouse passar por cima */
.redes-sociais a:hover img {
  transform: scale(1.2);
}