/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
  height: var(--tamanho-header);
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff00;
  position: fixed;
  width: 100%;
  z-index: 1000;
  /* fica na frente de outros elementos */
  color: #000000;
  padding: 10px 0;
  margin-top: -10vh;
  font-size: 16px;

}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.corpo {
  display: flex;
  width: 100%;
  height: auto;
  background-size: cover;
  margin: auto;
  justify-content: center;

}

.container .logo {
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  margin-left: -170px;
  height: 190px;
  width: 360px;
  margin-left: -170px;
  margin-top: 15px;

}


.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #000000;
}

.agora {
  font-weight: 700;
}

.navbar {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #000000;
}

:root {
  --primary-brand-color: #ED145B;
  --secondary-brand-color: #0762C8;
  --success: #198754;
  --success-dark: #095c36;
  --success-light: #9dd3ba;
  --warning: #ffc107;
  --warning-dark: #705400;
  --warning-light: #fdebb3;
  --danger: #dc3545;
  --danger-dark: #990c19;
  --danger-light: #f0c1c6;
  --new-gray: #CCCCCC;
  --new-black: #212427;
  --new-white: #E8E8E8;
  --tamanho-header: 80px;


}

body {
  color: var(--new-black);
  background-color: var(--new-white);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.prontoDesafio{
  display: flex;
  justify-content: center;
  margin-top: -30vh;
  font-size: 4vh;
  color: #000000;
  font-weight: bolder;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.prontoDesafio:hover{
cursor: not-allowed;

}

.antesDeComecar {
  background-image: url(../imagens/apostolos.png);
  width: auto;
  height: 150.5vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -10px;

}

#pontuacaoEJogo {
  margin-top: var(--tamanho-header);
  /* ou 80px */
  padding-top: 16px;
  /* espaço extra opcional */

}

.progress-container {
  height: 8px;
  background-color: #f3f4f6;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: #d97706;
  transition: width 0.4s ease;
}


button {
  font-family: monospace;
  font-weight: bold;
  width: 10vh;
  justify-content: center;
  margin-top: 5vh;

}


.submeter {
  background-color: #f3f3f3;
  border-radius: 5px;
  border: 1px #919191;
  padding: 15px;
  padding-left: 10vh;
  padding-right: 10vh;
  transition: 0.3s;
  display: flex;

}

.avancar {
  background-color: #f3f3f3;
  border-radius: 5px;
  border: 1px #919191;
  padding: 10px;
  padding-left: 10vh;
  padding-right: 10vh;
  transition: 0.3s;
  display: flex;

}

.tentarNovamente {
  background-color: #f3f3f3;
  ;
  border-radius: 5px;
  border: 1px #919191;
  padding: 10px;
  padding-left: 10vh;
  padding-right: 10vh;
  transition: 0.3s;
  display: flex;

}

/*hover*/
.submeter:hover {
  transform: scale(1.1);
  background-color: #bcceff7e;
  border: 2px #6f95ff;
  cursor: pointer;

}

.avancar:hover {
  transform: scale(1.1);
  background-color: #bcceff7e;
  border: 2px #6f95ff;
  cursor: pointer;

}

.tentarNovamente:hover {
  transform: scale(1.1);
  background-color: #bcceff7e;
  border: 2px #6f95ff;
  cursor: pointer;

}

.espacamento span{
  padding-bottom: 1.99vh;

}


.butoes {
  margin-left: 20vh;

}

.botaoIniciarJogo {
  margin-left: 88vh;
  margin-top: 45vh;
  background-color: #fffda3;
  border: 3px #fffda3;
  border-radius: 10px;
  padding: 20px;
  padding-right: 14.5vh;
  padding-left: 10vh;
  color: #000000;
  font-weight: bold;
  transition: 0.3s;
  
}

.botaoIniciarJogo:hover{
  background-color: #ffc107;
  transform: scale(1.2);
  cursor: pointer;
  color: #000000;
  padding-top: 3vh;
  padding-bottom: 3vh;
  filter: drop-shadow(0 0px 200px rgba(255, 254, 176, 0.514)) drop-shadow(0 0px 100px rgb(255, 255, 255)) brightness(1.3);
  
}

.flex-colunar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff8e;
}

.width-fit-content .joguinho {
  width: 100%;
  height: auto;
}

.border-primary {
  border-bottom: 5px solid #cfcfcf;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 30%;
  margin-left: 67vh;
  margin-bottom: 2vh;


}

.border-secondary {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 30%;
  margin-left: 67vh;
}

.padding-8 {
  padding: 8px;
}

.text-bold {
  font-weight: bold;
}

.text-success-with-bg {
  color: var(--success-dark);
  font-weight: bold;
  
}

.text-warning-with-bg {
  color: var(--warning-dark);
  font-weight: bold;
  
}

.text-danger-with-bg {
  color: var(--danger-dark);
  font-weight: bold;
  
}

.text-new-gray {
  color: var(--new-gray);
}