@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




:root {

    --tamanho-header : 80px;
    --tamanho-footer: 90px;
    --tamanho-corpo: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #d1c6c6;
}


.corpo {

    margin-top: 10vh;
    flex: 1;
    background-color: #d1c6c6;

}

.loginHTML{

    height: var(--tamanho-corpo);
    background-size: cover;
    display: flex;
    flex-direction: row;
    margin-left: 25vh;

}

.social{

    flex: 1;
    display: flex;
    flex-direction: column

}




body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d1c6c6;
}



/* HEADER */

.header {
  height: var(--tamanho-header);
  background-color: #ffffff00;
  border-bottom: 1px solid #ffffff00;
  position: fixed;
  width: 100%;
  z-index: 1000; /* fica na frente de outros elementos */
  transition: 0.3s; /* efeito ao voltar para o topo */

}

.container{
    display: flex;
    width: 80%;
    margin: auto;
}

.container .logo {
  height: 190px;
  width: 360px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  margin-left: -170px;
  margin-top: 15px; 
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #000000;
}

.header a{
    text-decoration: none;
    color: #000000;
}

.agora{
    font-weight: 700;
}

.header.rolar {

  height: var(--tamanho-header);
  background-color:  #ffffff;
  padding: 10px 0;
  transition: 0.3s; /* efeito ao sair do topo */
}

.header.rolar a{

  height: var(--tamanho-header);
  color: #000000;
  padding: 10px 0;
  transition: 0.3s; /* efeito ao sair do topo */
}

.header.rolar .navbar{

  height: var(--tamanho-header);
  color: #000000;
  padding: 10px 0;
  transition: 0.3s; /* efeito ao sair do topo */
}


/*DASHBOARD*/
.dashboard {
    background-color: #d1c6c6;
    padding: 20px 20px;
    min-height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.plataforma{
    background-color: #d1c6c6; 
    margin: 0;
    padding: 20px 64px;
    border: none;
}

.select {
    background-color: #ffffff; 
    margin: 0;
    padding: 10px;
    font-weight: 800;
    border: 2px solid #660101;
    border-radius: 10px;
    color: #660101;
}

.kpi {
    background-color: #d1c6c6;
    padding: 0px 64px;
    min-height: 130px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.alerta {
    background-color: white;
    border: 2px solid #660101;
    padding: 20px;
    color: #660101; 
    border-radius: 10px;
}
.grafico {
    background-color: white;
    border: 2px solid #660101;
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 45%;
    max-width: 45%;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.graph {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e2f;
    border-radius: 10px;
}

/*FORMULARIO DO SIMULADOR*/
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
/*FOOTER DO SIMULADOR*/
.footersimulador {

    background-color: rgb(177, 94, 91);
    height: var(--tamanho-footer);
    color: #fff;
    display: flex;
    font-size: 15px;
}
.footersimulador .container{

    justify-content: center;
    text-align: center;
}